*{
box-sizing:border-box;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.time{
    position:absolute;
    color:red;
    z-index: 300;
    right:0;
    top:0;
}
body{
  padding:0;
  margin:0;
  display:flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}
.container{
  width:800px;
  max-width:80%;
  background-color:white;
  border-radius:5px;
  padding:10px;
  box-shadow: 0 0 10px 2px;
}
.btn-grid{
  display:grid;
  grid-template-columns: repeat(2,auto);
  gap:10px;
  margin: 20px 0;
}
.btn{
  color:white;
  background-color: purple;
  border: 1px solid;
  border-radius:5px;
  padding: 5px 10px;
  outline:none;
}
.btn:hover{
  border-color: yellow ;
  border: 3px solid;
}
.start-btn , .next-btn , .finish-btn , .highscores-btn{
  font-size:1.2 rem;
  font-weight: bold;
  padding: 10px 20px;

}
.controls{
  display:flex;
  justify-content: center;
  align-items:center;
}
.hide{
display:none;
}

/* scores styles below*/
input {
  height: 50px;
  width: 100%;
  padding: 6px;
  margin-top: 10px;
  font-size: 2.4em;
  border: none;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: white;
}

li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #ff5d88;
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
}

li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
}

li button {
  float: right;
  border: none;
  height: 40px;
  cursor: pointer;
  background-color: #ff9500;
  color: white;
  font-size: 1em;
}

li button:hover {
  background-color: #febc5d;
}

.todos {
  width: 800px;
  margin: 0 auto;
  margin-top: 40px;
}
